{% load staticfiles %}

<!DOCTYPE html>
<html >
<head>
    <title>Resume Form</title>
</head>
<body>
        <nav class="navbar navbar-default navbar-static-top text-center" role="navigation">
                <a href="/"><img src="{% static "images/logo.png" %}" height="90"  ></a>
                {% if user.is_authenticated %}
                    <a class="navbar-text navbar-right" href="#">{{ user.username }}</a>
                    <a class="navbar-text navbar-right" href="{% url 'Logout' %}">Logout</a>
                {% else %}
                    <a class="navbar-text navbar-right" href="{% url 'Login' %}">Login</a>
                {% endif %}
              </nav>

    <form enctype="multipart/form-data" action="post_url/" method="post" >
            {% csrf_token %}
          {{form.as_p}}
        <input type="submit" value="Submit" />
    </form>
</body>