{% load staticfiles %}
{% load app_filter %} 

<!DOCTYPE html>
<html >
<head>
    <title>Resume Form</title>
</head>
<body>
    <h>Resumes Submitted</h>
    {% for me in myprojecte %}
    <p>hiii this is index {{ me.name }} page</p>
    <p>hiii this is index {{ me.regno }} page</p>
    <p>hiii this is index {{ me.cgpa }} page</p>
    <p>hiii this is index {{ me.email }} page</p>
    <p>hiii this is index {{ me.location}} page</p>
    <p>hiii this is index {{ me.img_url }} page</p>
    <br>
    {% endfor %}
    <hr>
    {% if request.user|has_group:"maggi" %}
    <p>User belongs to Maggi
    {% else %}
    <p>Ask for permissions for maggi</p>
    {% endif %}
    <hr>
    <br>
    <hr>
    {% if request.user|has_group:"Yipee" %}
    <p>User belongs to Maggi
    {% else %}
    <p>Ask for permissions for yipee</p>
    {% endif %}
    <hr>
</body>